/*GENERALES */
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* Body*/
body{
    background-color:  #ebebeb;
}
/* Header */
.top-header{
    background-color:  #EAC926;
    padding: 20px;
}

.container-header-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Logo */
.header-logo{
    width: 50%; 
    padding: 5px;   
}

/* Barra de busqueda */  
.menu ul{
    list-style: none;
    padding: 0;
    margin: 10px;   
    display: flex;
   
}
.menu a{
    color: #666;
    margin: 5px;
    padding: 0px;
    flex-direction:row;
    text-decoration: none;
}

/* Search */
.search{
    width: 50%;
    padding: 0px 5px;
    margin: 8px auto 5px;
}

.search form{
    display: flex;
}

.search input{
    width: 100%;
    padding: 16px;
    height: 32px;
    border:none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button{
    height: 32px;
    background-color: #ebebeb;
    border: none;
    margin: 0;
    padding: 8px;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}

/* Conteiner mensaje */
.conteiner-text{
    margin: 10px auto 10px; 
    padding: 5px;
    text-align: center;
}

.conteiner-text i{
    padding-right: 10px;
    font-size: 20px;
}
.conteiner-text h2{
    font-size: 18px;
    font-weight: 900;
}

/* Imagen banner*/
.image{
    width: 100%;
}

/* Burger menu*/ 
.burger-menu{
    border-image: 5%;
    text-align: center;
    margin: 0px 30px; 
    justify-self: center;
}

.burger-menu i{
    color:white;
    border-radius: 15%;
    background-color: #1259c3;
    padding: 5px;
   

}
/*Menu*/
.menu{
    display: none;
}

