<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8″ />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body > 
   <header class="topHeader">
       <div class="logo-search">
        <img class="logo" src="\images\logo-mercado-liebre.svg" alt="Logo meliebre">
            <div class = "search">
                <form action="#" method="get">
                   <input type="text"><i class="fas fa-search"></i>
                </form>
            </div>
       </div>
            
            <div class="compra-cuotas-texto">
               <h2> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>
        
        <nav class="menu">
            <ul class="left-navbar">
                <li><a href=""> Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href=""> Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li> <a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-out-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
       
   </header>
   <main>
    <div class="image">
        <img src="/images/img-home-banner.jpg" alt="banner">
    </div>
       <section class="articulos">
            <h3 class="section-tittle">Basado en tu última visita</h3>
            <div class="contenedor-articulos">
                <div class="visualizar-articulos"> 
                    <article >
                       <div class="main-article">
                            <img src="\images\img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                            <div id="elementos">    
                                <i class="fas fa-truck"></i>
                                <div class="pagos">
                                    <h4 class="precio">$6.770</h4> <br>
                                    <h4 class="descuentos" id="pagos"> 40% OFF </h4> <br>  
                                </div>
                                 <h4 class="descripciones">Cafetera Moulinex</h4>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="main-article">
                            <img src="\images\img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                            <div id="elementos">
                                <i class="fas fa-truck"></i>
                                <div class="pagos">
                                    <h4 class="precio">$230.000</h4> <br>
                                    <h4 class="descuentos">20% off </h4> <br>
                                </div>
                                <h4 class="descripciones">MacBook Pro 2019</h4>
                        
                            </div>
                        </div>
                    </article>
                </div>
                <div class="visualizar-articulos"> 
                    <article>
                        <div class="main-article">
                            <img src="\images\img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                            <div id="elementos">
                                <i class="fas fa-truck"></i>
                                <div class="pagos">
                                    <h4 class="precio">$70.500 </h4> <br>
                                    <h4 class="descuentos">10% off  </h4> <br> 
                                </div>
                                <h4 class="descripciones">Samsung Galaxy S10</h4>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="main-article">
                            <img src="\images\img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                            <div id="elementos">
                                <i class="fas fa-truck"></i>
                                <div class="pagos">
                                    <h4 class="precio">$23.200</h4> <br>
                                    <h4 class="descuentos">5% off </h4><br>
                                </div>
                                <h4 class="descripciones">SmartTv Samsung 43"</h4>
                            </div>
                         </div>
                    </article>
                </div>
            </div>
       </section>
       <section class="articulos">
            <h3 class="section-tittle">Sección de Ofertas</h3>
            <div class="contenedor-articulos">
            <div class="visualizar-articulos">
                <article>
                    <div class="main-article">
                        <img src="\images\img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                        <div id="elementos">
                            <i class="fas fa-truck"></i>
                            <div class="pagos">
                                <h4 class="precio">$6.770</h4> <br>
                                <h4 class="descuentos" id="pagos"> 40% OFF </h4> <br>  
                            </div>
                            <h4 class="descripciones">Cafetera Moulinex</h4>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="main-article">
                        <img src="\images\img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                        <div id="elementos">
                            <i class="fas fa-truck"></i>
                            <div class="pagos">
                                <h4 class="precio">$230.000</h4> <br>
                                <h4 class="descuentos">20% off </h4> <br>
                            </div>
                            <h4 class="descripciones">MacBook Pro 2019</h4>
                        </div>
                    </div>
                </article>
            </div>
                <article>
                    <div class="main-article">
                        <img src="\images\img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                        <div id="elementos">
                            <i class="fas fa-truck"></i>
                            <div class="pagos">
                                <h4 class="precio">$70.500 </h4> <br>
                                <h4 class="descuentos">10% off  </h4> <br> 
                            </div> 
                            <h4 class="descripciones">Samsung Galaxy S10</h4>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="main-article">
                        <img src="\images\img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                        <div id="elementos">
                            <i class="fas fa-truck"></i>
                            <div class="pagos">
                                <h4 class="precio">$23.200</h4> <br>
                                <h4 class="descuentos">5% off </h4><br>
                            </div> 
                            <h4 class="descripciones">SmartTv Samsung 43"</h4>
                        </div>
                    </div>
                </article>
            </div>
            </div>
       </section>
   </main>
</body>
   <footer>
            <section class="section-footer">
                <div class="icon">
                   <i class="fas fa-shopping-basket"></i>
                 </div>              
                <p>
                    <strong>Paga con tarjeta o en efectivo</strong>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! 
                </p>
            </section>
            <section class="section-footer">
                    <div class="icon">
                        <i class="fas fa-gift"></i>
                    </div>
                    <p>
                        <strong>Envio gratis desde $2.500</strong>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
            </section>
            <section class="section-footer">
                    <div class="icon">
                        <i class="fas fa-user-shield"></i>
                    </div>
                        <p>
                            <strong>Seguridad, de principio a fin</strong>
                            ¿No te gusta?¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@ 
                        </p>
                        <p class="copyright"> 
                            <strong>Copyright © 1999-2020 MercadoLiebre S.R.L</strong>
                        </p>
            
            </section>
   </footer>
</html>
