<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8″ />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mercado Liebre</title>
<!--<link rel="stylesheet" href="/css/normalize.css">!-->
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body > 
   <header class="top-header">
       <div class="container-header-box">
            <img class="header-logo" src="\images\logo-mercado-liebre.svg" alt="Logo meliebre">
            <div class = "search">
                <form action="#" method="get">
                   <input type="text" placeholder="Buscar productos, marca">                  
                    <div>
                        <button class="search-button" type="submit">
                         <i class="fas fa-search"></i>
                    </button>
                  </div>
                </form>
            </div>
            <div class="conteiner-text">
                <h2> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
             </div>
       </div>  
        <nav class="menu">
            <ul class="left-navbar">
                <li><a href=""> Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href=""> Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li> <a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-out-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
       
   </header>
   <div class="image-banner">
    <img src="/images/img-home-banner.jpg" alt="banner">
</div>!
   <main>
       <section>
   
       <form action="" method="post" class="form-register">
        <h2>FORMULARIO REGISTRO</h2>
        <div class="nombre">
            <input type="text" name="nombre" placeholder="Nombre y Apellido" >
        </div>
        <div class="username">
            <input type="text" name="username" id="username" placeholder="Nombre de usuario">
            <input type="email" name="email" placeholder="E-mail">
        </div>
        <div class="datos">
            <label for=""><strong>Fecha de Nacimiento</strong></label>
            <input type="date" name="fechaNacimiento" id="fechaNacimiento">
            <input type="text" name="domicilio" placeholder="Domicilio">
        </div>
        <div class="perfil">
            <label for="">Perfil del usuario</label>
            <div class="perfil-checkbox">
                <label for="">Comprador</label>
                <input type="checkbox" name="comprador" id="comprador" value="Comprador">
                <label for="">Vendedor</label>
                <input type="checkbox" name="vendedor" id="vendedor" value="Vendedor">    
            </div>
        </div>
        <div class="categorias">
            <label for="">Categorias de interes</label>
                <div class="categorias-radio">
                   
                    <input type="radio" name="Electro" id="Electro" value="Electro">
                    <label for="">Electro</label>
                   
                    <input type="radio" name="Moda" id="Moda" value="Moda">
                    <label for="">Moda</label>
                   
                    <input type="radio" name="Hogar" id="Hogar" value="Hogar">
                    <label for="">Hogar</label>
                   
                    <input type="radio" name="Jugueteria" id="Jugeteria" value="Jugueteria">
                    <label for="">Jugueteria</label>
                   
                    <input type="radio" name="VidaSana" id="VidaSana" value="Vida Sana">
                    <label for="">Vida Sana</label>
                </div>
            </div>
        <div class="file">   
            <input type="file" name="fotoUsuario" id="imgUser">
        </div>
        <div class="pass">
            <input type="password" name="pass" id="pass" placeholder="Contraseña">
            <input type="password" name="repetpass" id="repetpass" placeholder="Repetir contraseña">
        </div>
        <div class="button">
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
        </div>
       </form>
        
    </section>
   </main>
   <footer>
    <section class="section-footer">
        <div class="icon">
           <i class="fas fa-shopping-basket"></i>
         </div>              
        <p>
            <strong>Paga con tarjeta o en efectivo</strong>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! 
        </p>
    </section>
    <section class="section-footer">
            <div class="icon">
                <i class="fas fa-gift"></i>
            </div>
            <p>
                <strong>Envio gratis desde $2.500</strong>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
    </section>
    <section class="section-footer">
            <div class="icon">
                <i class="fas fa-user-shield"></i>
            </div>
                <p>
                    <strong>Seguridad, de principio a fin</strong>
                    ¿No te gusta?¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@ 
                </p>
                <p class="copyright"> 
                    <strong>Copyright © 1999-2020 MercadoLiebre S.R.L</strong>
                </p>
    
    </section>
</footer>
</html>