<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8″ />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body > 
   <header class="topHeader">
       <div class="logo-search">
        <img class="logo" src="\images\logo-mercado-liebre.svg" alt="Logo meliebre">
            <div class = "search">
                <form action="#" method="get">
                    <i class="fas fa-search"></i><input type="text"> 
                </form>
            </div>
       </div>
            
            <div class="compra-cuotas-texto">
               <h2> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>
        
        <nav class="menu">
            <ul class="left-navbar">
                <li><a href=""> Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href=""> Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li> <a href="">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="">Ingresá <i class="fas fa-sign-out-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
       
   </header>
   <main>
       <form action="" method="post">
        Nombre y apellido
        ■ Nombre de usuari@
        ■ Fecha de nacimiento
        ■ Domicilio
        ■ Perfil del usuario (consultar a l@s usuari@s si quieren comprar o vender)
        ■ Categorías de interés (puede elegir más de una)
        ● Electro
        ● Moda
        ● Hogar
        ● Juguetería
        ● Vida sana
        ■ Foto de usuario
        ■ Contraseña
        ■ Confirmar contraseña
        ■ Botón de enviar que nos lleve a la página principal
        ■ Botón de borrar todos los datos del formulario
        <input type="text">

       </form>

   </main>
   <footer>
    <section class="section-footer">
        <div class="icon">
           <i class="fas fa-shopping-basket"></i>
         </div>              
        <p>
            <strong>Paga con tarjeta o en efectivo</strong>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! 
        </p>
    </section>
    <section class="section-footer">
            <div class="icon">
                <i class="fas fa-gift"></i>
            </div>
            <p>
                <strong>Envio gratis desde $2.500</strong>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
    </section>
    <section class="section-footer">
            <div class="icon">
                <i class="fas fa-user-shield"></i>
            </div>
                <p>
                    <strong>Seguridad, de principio a fin</strong>
                    ¿No te gusta?¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@ 
                </p>
                <p class="copyright"> 
                    <strong>Copyright © 1999-2020 MercadoLiebre S.R.L</strong>
                </p>
    
    </section>
</footer>
</html>